<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Pedido Tienda Tegopet</title>
  </head>
  <body>
    <h1>
      Orden recibida
    </h1>
    {{> order_info }}
  </body>
</html>
